**/logs
autodrive_macos_build
autodrive_linux_build
autodrive_windows_build
autodrive_macos_build.zip
autodrive_linux_build.zip
autodrive_windows_build.zip
**/.DS_Store
build
install
log
**/*.egg-info